@font-face {
    font-family: "ralewayGrasso";
    src: url("../font/static/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "ralewayMagro";
    src: url("../font/static/Raleway-Light.ttf") format("truetype");
}

@font-face {
    font-family: "ralewayExtraGrasso";
    src: url("../font/static/Raleway-ExtraBold.ttf") format("truetype");
}

body {
    /*width: 100vw;*/
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 40px;
}

.storia button {
    border: 2px solid #c11f5d;
    width: 250px;
    height: 50px;
    background-color: #c11f5d;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 5px;
    transition: transform 0.3s;
    font-family: "Raleway";
}

.storia button:hover {
    transform: scale(1.1);
}


#divPres {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#divLineaTempo {
    width: 100%;
}

#tabTempo {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
}

.rigaTempo {
    width: 100%;
}

.rigaTempo td {
    border-top: solid 6px #616161;
    height: 100px;
    min-width: 30px;
    width: 9%;
    max-width: 9%;
    min-width: 52px;
    position: relative;
    padding: 0px;
}

.rigaTempo td::before {
    content: attr(data-anno);
    
    /* Stile e forma del pallino */
    display: block;
    min-width: 16px;
    min-height: 16px;
    padding: 2px;
    background-color: #E2457C; 
    border-radius: 25%;
    white-space: nowrap;
    
    /* Posizionamento */
    position: absolute;
    top: 0%;
    transform: translateY(-68%); 
    
    width: fit-content; 
    height: auto; 
    right: 70%;
}

.rigaTempo:nth-child(odd) td:first-child::before {
    min-width: 12px;
    min-height: 12px;
    width: auto; 
    height: auto;
    border-radius: 25%;
    text-align: center;
    padding: 4px;

    transform: translate(-10%, -65%);

    /* font */
    font-family: "ralewayGrasso";
    font-size: 20px;

    /*allineamento*/
    text-align: center; 
}

.rigaTempo:nth-child(even) td:last-child::after {
    /* Stile e forma del pallino */
    display: block;
    background-color: #E2457C; 
    
    /* Posizionamento */
    position: absolute;
    left: 70%;
    top: 0%;
    transform: translateY(-65%);

    min-width: 16px;
    min-height: 16px;
    width: fit-content; 
    height: fit-content;
    border-radius: 25%;
    padding: 4px;

    /* font */
    font-family: "ralewayGrasso";
    font-size: 20px;

    /*allineamento*/
    text-align: center; 
}

#riga1980 td:first-child::before {
    content: "1980";
}

#riga1990 td:last-child::after {
    content: "1990";
}

#riga2000 td:first-child::before {
    content: "2000";
}

#riga2010 td:last-child::after {
    content: "2010";
}

#riga2020 td:first-child::before {
    content: "2020";
}

.rigaTempo:nth-child(odd) td:last-child {
    border-right: solid 6px #616161;
}

.rigaTempo:nth-child(even) td:first-child {
    border-left: solid 6px #616161;
}

.rigaTempo:nth-child(odd):last-child td:last-child {
    border-right: 0px;
}

.rigaTempo:nth-child(even):last-child td:first-child {
    border-left: 0px;
}

.rigaTempo:nth-child(even) td:first-child::before {
    display: none;
}

h2 {
    color: #c11f5d;
    font-family: "ralewayGrasso";
    font-size: 29px;
    text-align: center;
}

p {
    color: #616161;
    font-family: "ralewayMagro";
    font-size: 16px;
}

#titolo {
    font-size: 42px;
}

#tabRuoli {
    width: 100%;
    table-layout: fixed;
}

.rowRuoli td {
    width: 50%;
    padding-left: 17px;
}

.rowRuoli td:first-child {
    text-align: right;
    padding-left: 0px;
    padding-right: 17px;
}

#divRuoli {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

b {
    font-family: "ralewayExtraGrasso";
}

.divAnno {
    background-color: transparent;
    position: absolute;
    padding: 2px;
    white-space: nowrap;

    border-radius: 25%;
    
    top: 0%;
    width: fit-content; 
    height: auto; 
    right: 70%;
    transform: translateY(-68%);

}



/*
.divElLineaTempo {
    min-height: 50px;
}

.divRigaLineaTempo {
    
}

.divElLineaTempo:nth-child(odd) {
    transform: translateX(14px);
    border-right: solid 2px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.divElLineaTempo:nth-child(even) {
    border-left: solid 2px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.divElLineaTempo:first-child {
    border-top: solid 2px;
}

.divElLineaTempo:last-child {
    border-bottom: solid 2px;
}
    */