@font-face {
    font-family: "ralewayGrasso";
    src: url("../font/static/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "ralewayMagro";
    src: url("../font/static/Raleway-Light.ttf") format("truetype");
}

@font-face {
    font-family: "ralewayExtraGrasso";
    src: url("../font/static/Raleway-ExtraBold.ttf") format("truetype");
}

body {
    /*width: 100vw;*/
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    gap: 40px;
}

#divPres {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#divLineaTempo {
    width: 100%;
}

#tabTempo {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
}

.rigaTempo {
    width: 100%;
}

.rigaTempo td {
    border-top: solid 6px #616161;
    height: 100px;
    min-width: 30px;
    width: auto;
    position: relative;
    padding: 0px;
}

.rigaTempo td::before {
    content: '';
    
    /* Stile e forma del pallino */
    display: block;
    width: 12px; 
    height: 12px; 
    background-color: #c11f5d; 
    border-radius: 50%; /* Rende l'elemento un cerchio perfetto */
    
    /* Posizionamento */
    position: absolute;
    top: 0%;
    transform: translateY(-70%);
    
}

.rigaTempo td:first-child::before {
    display: none;
}

.rigaTempo:nth-child(odd) td:last-child {
    border-right: solid 6px #616161;
}

.rigaTempo:nth-child(even) td:first-child {
    border-left: solid 6px #616161;
}

.rigaTempo:last-child td:last-child {
    border-left: 0px;
    border-right: 0px;
}

h2 {
    color: #c11f5d;
    font-family: "ralewayGrasso";
    font-size: 29px;
    text-align: center;
}

p {
    color: #616161;
    font-family: "ralewayMagro";
    font-size: 16px;
}

#titolo {
    font-size: 42px;
}

#tabRuoli {
    width: 100%;
    table-layout: fixed;
}

.rowRuoli td {
    width: 50%;
    padding-left: 17px;
}

.rowRuoli td:first-child {
    text-align: right;
    padding-left: 0px;
    padding-right: 17px;
}

#divRuoli {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

b {
    font-family: "ralewayExtraGrasso";
}



/*
.divElLineaTempo {
    min-height: 50px;
}

.divRigaLineaTempo {
    
}

.divElLineaTempo:nth-child(odd) {
    transform: translateX(14px);
    border-right: solid 2px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.divElLineaTempo:nth-child(even) {
    border-left: solid 2px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.divElLineaTempo:first-child {
    border-top: solid 2px;
}

.divElLineaTempo:last-child {
    border-bottom: solid 2px;
}
    */