@font-face {
    font-family: "ralewayY";
    src: url("../font/static/Raleway-Light.ttf") format("truetype");
}

body {
    font-family: 'Raleway';
    
    margin-top: 140px;
}

a {
    text-decoration: none;
}

h1 {
    color: #c11f5d;
}

.layoutTesto {
    display: flex;
    font-family: 'RalewayY';
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: pre-wrap;  
    margin-bottom: 30px; 
}

.layoutTesto h1 {
    font-family: 'Raleway'; 
    display: flex;
    margin-top: 70px;
    margin-bottom: 1px;
}

.layoutTesto p {
    margin-top: 0px;
    text-align: center;
}

.layoutPatrocinatori {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patrocinatori {
    display: flex;

    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding: 20px 0;
}

.cardPatrocinatore {
    display: flex;
    width: 70%;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.cardPatrocinatore img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardPatrocinatore:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(226, 69, 124, 0.3);
}

.layoutCollaboratori {
    display: flex;
    flex-direction: column;
}


