@font-face {
    font-family: "raleway";
    src: url("../font/static/Raleway-Bold.ttf") format("truetype");
}

.scritta_grande {
    font-family: "raleway";
    color: #c11f5d;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.form_email{
    font-family: "raleway";
    color: #616161;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}