@font-face {
  font-family: "raleway";
  src: url("../font/static/Raleway-Light.ttf") format("truetype");
}

  /* Contenitore principale per centrare tutto */
  .footer-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "raleway";
  }

  /* Logo */
  .footer-logo img {
    height: 80px;
    width: 150px;
  }


  .footer-images {
    
    padding: 4px;
    height: 50px;
    border-radius: 25;
  }

  /* Logo */
  .footer-h3 h3{
    color: #E2457C;
  }


  /* Tre sezioni orizzontali */
  .footer-sections {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1px;
  }

  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 1px;
  }

  .footer-section p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #313131;
  }

  /* Linea di separazione */
  .footer-line {
    width: 100%;
    height: 1px;
    background-color: #E2457C;
    margin: 15px 0;
  }

  /* Testo finale a destra */
  .footer-bottom {
    width: 100%;
    text-align: right;
    font-size: 0.85em;
    color: #313131;
  }


