@font-face {
    font-family: "raleway";
    src: url("../font/static/Raleway-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}
    
.header_scritte {
    all: unset;
    white-space: nowrap;
    font-family: "raleway";
    color: #616161;
    border-bottom: solid transparent 3px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: color 0.2s, border-bottom-color 0.2s;
}

.header_scritte:hover {
    all: unset;
    white-space: nowrap;
    font-family: "raleway";
    color: #c11f5d;
    cursor: pointer;
    border-bottom: solid #c11f5d 3px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: color 0.2s, border-bottom-color 0.2s;
}

.header_scritta_selezionato {
    all: unset;
    white-space: nowrap;
    font-family: "raleway";
    color: #c11f5d;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid #c11f5d 3px;
    padding-bottom: 20px;
}