@font-face {
    font-family: "ralewayX";
    src: url("../font/static/Raleway-Light.ttf") format("truetype");
}

.scritte_interne {
    font-family: "ralewayX";
    color: black;
    max-width: 600px;
    width: 90%;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;/*
    position: absolute;
    top: 32%;
    left: 63%;
    transform: translate(-50%, -50%);*/
    line-height: 30px;
    text-align: left;
}

.scritte_interne p {
    padding: 0;
    margin: 0;
}